@tailwind base;
@tailwind components;
@tailwind utilities;

.items-card{

}

.card{
    height: 400px;
    position: relative;
    
}

.details{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 250px;
    opacity: 0;
    z-index: 9999;    
}

.items-card:hover .details{
    opacity: 1;
}